body {
  background-color: #D4D7FE;
}
.container {
  margin-left: 20%;
  margin-right: 20%;
}
.container header {
  width: 100%;
  background-color: #333333;
  padding: 2%;
}
.container header nav {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.container header nav a {
  color: #FFFFFF;
  text-align: center;
  width: 100%;
}
.container .main {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
}
.container .main .image {
  width: 50%;
  margin-left: 2%;
  padding: 5%;
}
.container .main .image img {
  width: 100%;
}
.container .main .content1 {
  text-align: left;
  width: 50%;
  padding-top: 2%;
}
.container footer {
  text-align: center;
}
