header {
  width: 100%;
  background-color: #333333;
  padding: 2%;
}
header nav {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
header nav .cursive {
  font-family: 'Pacifico', cursive;
}
header nav a {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
}
header nav a:hover {
  color: #539987;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
}
@media (max-width: 500px) {
  header nav {
    padding: 5%;
  }
}
.main-team {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 3%;
}
.main-team .meet {
  text-align: center;
}
.main-team .row1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.main-team .row1 div {
  width: 50%;
  padding: 5%;
}
.main-team .row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.main-team .row2 div {
  width: 50%;
  padding: 5%;
}
.main-team h2 {
  text-align: center;
}
footer {
  text-align: center;
}
body {
  background-color: #D4D7FE;
  font-family: 'Roboto', sans-serif;
}
.container {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.container .main {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
@media (max-width: 500px) {
  .container .main {
    display: flex;
    flex-direction: column;
  }
}
.container .main .image {
  width: 50%;
  margin-left: 2%;
  padding: 5%;
}
@media (max-width: 500px) {
  .container .main .image {
    width: 100%;
    margin-left: 0%;
  }
}
.container .main .image img {
  width: 100%;
}
.container .main .content1 {
  text-align: left;
  width: 50%;
  padding-top: 2%;
}
@media (max-width: 500px) {
  .container .main .content1 {
    width: 100%;
    text-align: center;
  }
}
.container footer {
  text-align: center;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.flex-center-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  text-align: left;
}
