header {
  background-color: #333333;
  padding: 2%;
}
header nav {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
header nav .cursive {
  font-family: 'Pacifico', cursive;
}
header nav .btn {
  background-color: #539987;
  border: 1px solid #539987;
  border-radius: 12px;
  color: #FFFFFF;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
}
header nav .btn:hover {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  color: #539987;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
}
header nav a {
  text-align: center;
  text-decoration: none;
  color: #FFFFFF;
  padding-top: 1.5%;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
}
@media (max-width: 500px) {
  header nav a {
    padding: 5%;
  }
}
header nav a:hover {
  color: #539987;
  -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
}
.main-team {
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 3%;
}
@media (max-width: 500px) {
  .main-team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.main-team .meet {
  text-align: center;
}
.main-team .christina img {
  margin-left: 25%;
  margin-right: auto;
  width: 50%;
  height: 50%;
}
@media (max-width: 500px) {
  .main-team .christina img {
    width: 100%;
    margin: auto;
  }
}
.main-team .row1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
@media (max-width: 500px) {
  .main-team .row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10%;
  }
}
.main-team .row1 .aaronimg {
  width: 90%;
}
.main-team .row1 .benimg {
  width: 100%;
}
.main-team .row1 div {
  width: 50%;
  padding: 5%;
}
@media (max-width: 500px) {
  .main-team .row1 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
.main-team .row2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
@media (max-width: 500px) {
  .main-team .row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
}
.main-team .row2 div {
  width: 50%;
  padding: 5%;
}
.main-team .row2 div .youngimg {
  width: 100%;
}
.main-team .row2 div .steveimg {
  width: 100%;
  height: 55%;
}
@media (max-width: 500px) {
  .main-team .row2 div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0%;
  }
}
.main-team h2 {
  text-align: center;
}
.main-team h4 {
  text-align: center;
}
footer {
  text-align: center;
}
@media (max-width: 800px) {
  footer {
    margin-top: 10%;
  }
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.container .main {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  text-align: left;
}
@media (max-width: 500px) {
  .container .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
}
.container .main .image {
  width: 50%;
  margin-left: 2%;
  padding: 5%;
}
@media (max-width: 500px) {
  .container .main .image {
    width: 100%;
    margin-left: 0%;
  }
}
.container .main .image img {
  width: 100%;
}
.container .main .content1 {
  text-align: left;
  width: 50%;
  padding-top: 5%;
  padding-left: 5%;
}
@media (max-width: 500px) {
  .container .main .content1 {
    width: 100%;
    text-align: center;
  }
}
.filler {
  text-align: center;
  margin-top: 3%;
}
.info {
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  padding-top: 5%;
}
@media (max-width: 500px) {
  .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-left: 1px;
    margin-right: 1px;
  }
}
.info div {
  width: 33%;
  padding: 5%;
}
.info div .droominfimg {
  width: 100%;
}
.info div .stuffimg {
  width: 100%;
}
.info div .moreimg {
  width: 100%;
}
@media (max-width: 500px) {
  .info div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 90%;
  }
}
footer {
  text-align: center;
  padding-top: 3%;
}
.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.flex-center-reverse {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  text-align: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.margincontain {
  margin-left: 20%;
  margin-right: 20%;
}
.custom-button {
  background-color: #539987;
  border: 1px solid #539987;
  border-radius: 12px;
  color: #FFFFFF;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
}
.hover-button {
  background-color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 12px;
  color: #539987;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 2px 1px;
}
