body {
    font-family: 'Roboto', sans-serif;
}
.container {
    margin-left: 20%;
    margin-right: 20%;
    .flex-row();
    .main {
        padding-top: 3%;
        .flex-row();
        @media @mobile {
            .flex-center();
        }
        .image {
            width: 50%;
            margin-left: 2%;
            padding: 5%;
            @media @mobile {
                width: 100%;
                margin-left:0%;
            }
            img {
                width: 100%;
            }
        }
        .content1 {
            text-align: left;
            width: 50%;
            padding-top: 5%;
            padding-left: 5%;
            @media @mobile {
                width: 100%;
                text-align: center;
            }
        }
    }
}
.filler {
    text-align: center;
    margin-top: 3%;
}
    .info {
        .margincontain();
        .flex-row();
        justify-content: center;
        text-align: left;
        padding-top: 5%;
            @media @mobile {
                .flex-center();
                width: 100%;
                margin-left: 1px;
                margin-right: 1px;
            }
        div {
            width: 33%;
            padding: 5%;
            .droominfimg {
                width:100%;
            }
            .stuffimg {
                width:100%;
            }
            .moreimg {
                width: 100%;
            }
            @media @mobile {
                .flex-center();
                width: 90%;
            }
        }
    }
    footer {
        text-align: center;
        padding-top: 3%;
    }